body 

    {
      background-color: rgba(83, 155, 0, 0.438);
    }
  
div#menu
    { 
       float: left;
       margin: 0px 0px 0px 0px;
       padding: 10px 10px 10px 10px;
       width: 10%;
    }
    
div#menu ul
    { 
       width: 100%;
    }
    
div#menu li 
    {
       margin-left: -3em;
       margin-right: 4em;
       padding: 5px 0px 5px 0px;
       border: 1px solid gray;
    }
    
div#menu a 
    { 
       padding: 15px 35px 15px 15px;
    }






h1  
    {
        color: rgb(20, 243, 12);
        
    }
h2
     {

        color: rgb(0, 194, 136);

     }


p    
    {
      
        color: rgb(113, 1, 187);


    }    

   
   
    
  



table, th, td 

{
    border: 1px solid black;
}

